body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
  scroll-behavior: smooth;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero svg {
  width: 100%;
  max-width: 900px;
  height: auto;
}

.hero svg:first-child {
  margin-bottom: -150px;
}

.section {
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  isolation: isolate;
  scroll-snap-align: start;
}

.sticky {
  position: sticky;
  top: 0;
  transform: translateY(calc(var(--i) * 40px));
  box-shadow: 0 -40px 60px rgba(0, 0, 0, 0.4);
}

.title {
  color: #fff;
  font-size: 5rem;
  font-family: "Indie Flower", cursive;
  -webkit-text-stroke: 1px #000;
}

@supports not (-webkit-text-stroke: 1px #000) {
  .title {
    text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}

.about {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.about-left, .about-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.about-left {
  justify-content: center;
}

.about-right{
  justify-content: center;
}

.about .title{
  text-align: center;
  margin: 0;
}

.about .paragraph {
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 0 40px;
  max-width: 80%;
}

.projects {
  position: sticky;
  display: grid;
  grid-template-rows: 1fr 2fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 20px;
}

.projects-title {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  margin-bottom: -30px;
}

.projects-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-wrapper {
  position: absolute;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: auto;
}

/* Background: very dark, almost black (#121212 or #242424)
Accent / buttons / links: bright blue (#646cff like you already have)
Highlights: light blue / cyan for hover or floating elements (#4fc3f7)
Text: off-white for readability (rgba(255,255,255,0.87)) */

/* --bg-about: #181818;
--bg-projects: #1e1e1e;
--bg-photos: #20262e; 
--bg-contact: #242424;*/
