body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

main {
  overflow-y: scroll;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero svg:first-child {
  margin-bottom: -150px;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.title {
  color: #fff;
  font-size: 5rem;
  font-family: "Indie Flower", cursive;
  -webkit-text-stroke: 1px #000;
}

@supports not (-webkit-text-stroke: 1px #000) {
  .title {
    text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}

/* Background: very dark, almost black (#121212 or #242424)
Accent / buttons / links: bright blue (#646cff like you already have)
Highlights: light blue / cyan for hover or floating elements (#4fc3f7)
Text: off-white for readability (rgba(255,255,255,0.87)) */

/* --bg-about: #181818;
--bg-projects: #1e1e1e;
--bg-photos: #20262e; 
--bg-contact: #242424;*/
