.particle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    pointer-events: none;
    z-index: 0;
}

.particle {
    position: absolute;
    border-radius: 50%;
    animation: moveParticle 150s linear infinite;
}

.section.about .particle-container {
    display: block;
}

@keyframes moveParticle {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(50px, -50vh); }  
    50% { transform: translate(-60px, -100vh); } 
    75% { transform: translate(30px, -150vh); } 
    100% { transform: translate(-20px, -200vh); }

}