.viewport {
    overflow: hidden;
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
}

.track {
    display: flex;
    transition: transform 0.4s ease;
}

.slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    gap: 20px
}

.carousel button {
    flex: 0 0 auto;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.header {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    font-weight: 999;
    display: flex;
    margin-top: -25px;
    justify-content: center;
    transform: translateY(-8px);
}

.arrow {
    opacity: 0.4;
}

.arrow:hover {
    opacity: 1;
}

.project-image {
    max-width: 80%;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    position: relative;
    top: -50px;
    gap: -50px;
}

.description {
    font-family: "Comfortaa", cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-30px)
}
