.viewport {
    overflow-y: visible;
    overflow-x: hidden;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
}

.track {
    display: flex;
    transition: transform 0.4s ease;
}

.slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    gap: 20px
}

.carousel button {
    flex: 0 0 auto;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    height: 700px;
    display: flex;
    align-items: center;
}

.header {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    font-weight: 999;
    display: flex;
    margin-top: -25px;
    justify-content: center;
    transform: translateY(-8px);
}

.arrow {
    opacity: 0.4;
    display: flex;
    transform: translateY(-100px);
}

.arrow:hover {
    opacity: 1;
}

.project-image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 3px;      
  overflow: hidden;
  isolation: isolate;
  top: -60px;
}

.project-image-wrapper::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    from 0deg,
    transparent 0deg,
    transparent 280deg,
    #ff00ff 320deg,
    #8c00ff 360deg
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.project-image-wrapper:hover::before {
  opacity: 1;
  animation: rotate-beam 2s linear infinite;
  filter: blur(8px);
}

.project-image-wrapper::after {
  content: "";
  position: absolute;
  inset: 3px; 
  background: transparent; 
  border-radius: 12px;
  z-index: -1;
}

.project-image {
  display: block;
  width: 100%;    
  height: 300px;  
  object-fit: cover; 
  border-radius: 12px;
  position: relative;
  z-index: 1;
}

@keyframes rotate-beam {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.description {
    font-family: "Comfortaa", cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-30px)
}
